/.idea/
/yarn.lock/
/react-playground/node_modules/
/react-playground/.next/
/react-playground/out/
/react-playground/yarn.lock
/blog/back-end/.github/
/express/client/node_modules
/express/server/node_modules
**/*.exe
**/*.pdb
/rust/guessing_game/target/
/rust/variables/target/
/vite-vue/node_modules
.vscode/settings.json
/ant-vue/node_modules/
/vite-vue/dist
/design-patterns-game/node_modules
/design-patterns-game/src/.umi
/nest-project/test
/nest-project/node_modules
/nest-project/dist
/vue2-template/dist
/vue2-template/node_modules
/nest/node_modules
/nest/dist
/nest/yarn.lock
/nest/package-lock.json
/nest/yarn-error.log
/4-25/dist/
/4-25/src/.umi
/4-25/src/.umi-production
/4-25/node_modules
/blog/node_modules
/vite-react/node_modules
/render/node_modules
/eCharts/node_modules
