/.idea/
/yarn.lock/
/react-playground-buildByNext/node_modules/
/react-playground-buildByNext/.next/
/react-playground-buildByNext/out/
/blog/back-end/.github/
/express/client/node_modules
/express/server/node_modules
**/*.exe
**/*.pdb
/rust/guessing_game/target/
/rust/variables/target/
/vite-vue/node_modules
.vscode/settings.json
/ant-vue/node_modules/
/vite-vue/dist
/design-patterns-game/node_modules
/design-patterns-game/src/.umi
/nest-project/test
/nest-project/node_modules
/nest-project/dist
