<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Cache-Control" content="no-cache"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">
    <title><%= context.title %></title>
    <link rel="stylesheet" type="text/css" href="./css/loading.css">
</head>
<body>
<noscript>Out-of-the-box mid-stage front/design solution!</noscript>
<div id="root">
    <div class="frame">
        <div class="ball-clip-rotate-pulse">
            <div></div>
            <div></div>
        </div>
    </div>
</div>
</body>
</html>
