<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/public/css/default.css"/>
</head>
<body>

<%include header.html%>
<%=nowTime%>
<%=nowTimeGetByAttribute%>

<h2><%=username%></h2>
<%=username%>


<div>
    <button onclick="addCookie()">
        add Cookie
    </button>
    <button onclick="deleteCookie()">
        delete Cookie
    </button>
    <button onclick="setCookie()">
        set Cookie
    </button>
    <button onclick="getCookie()">
        get Cookie
    </button>
</div>


<h2>and now,this is <%=name%></h2>
<h3><%=description%></h3>
<h4><%=version%></h4>
<ul>
    <% for(var i=0;i
    <appearance.length ;i++){ %>
        <li><%=appearance[i]%></li>
        <%}%>
</ul>

<script>
  function addCookie() {
    fetch('/addCookie', {
      method: 'post',
      headers: {
        'Content-type': 'application/json'
      }
    });
  }

  function deleteCookie() {
    fetch('/deleteCookie', {
      method: 'post',
      headers: {
        'Content-type': 'application/json'
      }
    });
  }

  function setCookie() {
    fetch('/setCookie', {
      method: 'post',
      headers: {
        'Content-type': 'application/json'
      }
    });
  }

  function getCookie() {
    fetch('/getCookie', {
      method: 'post',
      headers: {
        'Content-type': 'application/json'
      }
    });
  }
</script>

</body>
</html>
