<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>this is the new product party</h1>
<h2>and now,this is <%=name%></h2>
<h3><%=description%></h3>
<h4><%=version%></h4>
<ul>
    <% for(var i=0;i<appearance.length;i++){ %>
    <li><%=appearance[i]%></li>
    <%}%>
</ul>
</body>
</html>
