<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" href="nhc.ico">
    <title>健康大脑云网中心</title>
    <link href="css/chunk-65a9c36e.efdd4db7.css">
    <link href="css/chunk-92eb9ea0.dcae969b.css">
    <link href="css/chunk-d429f53e.87e59959.css">
    <link href="js/chunk-65a9c36e.e111d0ce.js">
    <link href="js/chunk-92eb9ea0.3568e6b2.js">
    <link href="js/chunk-d429f53e.b64d6894.js">
    <link href="css/app.debc1aab.css" as="style">
    <link href="css/chunk-vendors.c40bf0eb.css" as="style">
    <link href="js/app.b886b916.js">
    <link href="js/chunk-vendors.a74387ce.js">
    <link href="css/chunk-vendors.c40bf0eb.css">
    <link href="css/app.debc1aab.css">
</head>
<body>
<noscript><strong>We're sorry but data-display-platform doesn't work properly without JavaScript enabled. Please enable
    it to continue.</strong></noscript>
<div id="app"></div>
<script src="js/chunk-vendors.a74387ce.js"></script>
<script src="js/app.b886b916.js"></script>
</body>
</html>
