
.frame {
    width: 100%;
    display: flex;
    /*justify-content: center;*/
    padding: 32px 0;
    background: #23282f;
    align-items: center;
    min-height: calc(100vh - 64px);
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    flex-direction: column;
}

.todo {
    width: 400px;
    border-radius: 24px;
    box-shadow: 0 0 12px 12px rgba(0, 0, 0, 0.5);
    background: linear-gradient(to top right, blue, pink);
    padding: 24px;
}

.title {
    font-family: "Gill Sans", sans-serif;
    font-size: 20px;
    margin: 24px 0;
}

.ul {
    margin: 0;
    padding: 0;
}

.filter {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "Gill Sans", sans-serif;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 16px 0;
    border-radius: 42px;
}

.selected {
    color: white;
    cursor: pointer;
    font-size: 18px;
}

.un_selected {
    color: rgba(255, 255, 255, 0.6);
    cursor: pointer;
    font-size: 18px;
}