@import "./src/styles/global.less";

.frame {
  width: calc(100% - 48px);
  min-width: 952px;
  border: 1px solid rgba(12, 120, 120, 0.3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 68px;
  padding: 0 24px;

  .logo {
    width: 280px;
    object-fit: contain;
    cursor: pointer;
  }

  .search {
    width: 180px;
    height: 36px;
    border-radius: 36px;
    border: 1px solid @color;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;


    input {
      height: 32px;
      width: 120px;
      border-radius: 32px;
      padding-left: 24px;
      border: none;
      outline: none;

      input::-webkit-input-placeholder {
        color: white;
      }

      input::-moz-placeholder {
        color: white;
      }

      input::-ms-input-placeholder {
        color: white;
      }
    }

    .icon {
      width: 36px;
      height: 36px;

    }
  }
}
